{% extends 'base/base-admin.html' %}

{% block tituloprincipal %}
<h1 class="page-header">Generar Plan de Estudios </h1>
{% endblock %}


{% block content%}
<form method='post'>
    {% csrf_token %}
        {% if obj %}
            Edita la Informacion para el grupo
        {% else %}
            Agrega la Informacion para el grupo  
        {% endif %}
        <div class="form-group">
            <label>Nombre del Plan de estudios</label>
            <input class="form-control" required= "true" placeholder="Introduce el nombre" name="name" id="id_nombre" required value="{%if obj%} {{obj.name}} {% endif %}">
        </div>
        <div class="form-group">
            <label>Objetivo</label>
            <input class="form-control" required= "true" placeholder="Introduce el objetivo" name="objetive" id="id_objetivo" required value="{%if obj%} {{obj.objetive}} {% endif %}">
        </div>
        <div class="form-group">
            <label>Carrera</label>
                {% if not carrera%}
                    <div class='alert alert-info'>No existen datoss</div>
                {%else%}
                    <tr>
                    <select mutiple class="form-control" name="carrera" id="id_carrera" > 
                        {%for u in carrera%}
                   
                            <option requiered value={{u}}> {{u}} </option>
                      
                        {%endfor%}
                    </select>
                    <td></td>
                    </tr>
                {%endif%}
        </div>   
        <div class="form-group">
            <label>Nombre corto de la Carrera</label>
            <input class="form-control" required= "true" placeholder="Introduce el nombre corto de la carrera" name="nom_corto" id="id_nom_corto" required value="{%if obj%} {{obj.pCarrera.abbreviation }} {% endif %}">
        </div>
        <div class="form-group">
            <label>Año</label>
                {% if not ano%}
                    <div class='alert alert-info'>No existen datoss</div>
                {%else%}
                    <tr>
                    <select mutiple class="form-control" name="ano" id="id_ano"> 
                        {%for u in ano%}
                   
                            <option requiered value={{u}}> {{u}}</option>
                      
                        {%endfor%}
                    </select>
                    <td></td>
                    </tr>
                {%endif%}
        </div> 
        <div class="form-group">
            <label>Semestre</label>
                {% if not semestre%}
                    <div class='alert alert-info'>No existen datoss</div>
                {%else%}
                    <tr>
                    <select mutiple class="form-control" name="semestre" id="id_semestre"> 
                        {%for u in semestre%}
                   
                            <option requiered value={{u}}> {{u}}</option>
                      
                        {%endfor%}
                    </select>
                    <td></td>
                    </tr>
                {%endif%}
        </div> 
        <th style="border: 0px;">
            <label style="color: #323232;">Introducir numero de ejes a utilizar en el semestre</label><br>
            <div class="input">
                <input style="height:40px" list="pago" id="id_ejes" type="text" name="ejes" required data- 
                parsley-trigger="change" placeholder="Ingrese numero de ejes para el Semestre" onkeyup="mayus(this);" autocomplete="off" 
                class="form-control option"/>                                                                              
            <datalist id="pago">                                                                                      
                <option id="1" value="1">                                                                                        
                <option value="Sin ejes">                                                                            
            </datalist>
            </div>
            <th style="border: 0px;">                                                                                 
            <div id="input"></div>
        </th>
        <div class="form-group">
            <label>Asignatura</label>
                {% if not asignatura%}
                    <div class='alert alert-info'>No existen datoss</div>
                {%else%}
                    <tr>
                    <select mutiple class="form-control" name="asignatura" id="id_asginatura"> 
                        {%for u in asignatura%}
                   
                            <option requiered value={{u}}> {{u}}</option>
                      
                        {%endfor%}
                    </select>
                    <td></td>
                    </tr>
                {%endif%}
        </div> 
        <div class="form-group">
            <label>Contenido</label>
            <input class="form-control" required= "true" placeholder="Introduce contenido" name="contenido" id="id_contenido" required value="{%if obj%} {{obj.pCarrera.aano.asemestre.aejes.aasignatura.contenido}} {% endif %}">
        </div>
        <div class="form-group">
            <label>Total de Horas Teoricas</label>
            <input class="form-control" required= "true" placeholder="Introduce Horas Teoricas" name="totalHsTeoricas" id="id_totalHsTeoricas" required value="{%if obj%} {{obj.pCarrera.aano.asemestre.aejes.aasignatura.totalHsTeoricas}} {% endif %}">
        </div>
        <div class="form-group">
            <label>Total de Horas Practicas</label>
            <input class="form-control" required= "true" placeholder="Introduce Horas Practicas " name="totalHsPracticas" id="id_totalHsPracticas" required value="{%if obj%} {{obj.pCarrera.aano.asemestre.aejes.aasignatura.totalHsPracticas}} {% endif %}">
        </div>
        <div class="form-group">
            <label>Total de Horas</label>
            <input class="form-control" required= "true" placeholder="Introduce Total de Horas " name="total" id="id_total" required value="{%if obj%} {{obj.pCarrera.aano.asemestre.aejes.aasignatura.total}} {% endif %}">
        </div>
        <div class="form-group">
            <label>Creditos</label>
            <input class="form-control" required= "true" placeholder="Introduce Creditos " name="creditos" id="id_creditos" required value="{%if obj%} {{obj.pCarrera.aano.asemestre.aejes.aasignatura.creditos}} {% endif %}">
        </div>
        <div class="form-group">
            <label>Perfil de Egreso</label>
            <input class="form-control" required= "true" placeholder="Introduce Perfil de Egreso " name="descripcionPe" id="id_descripcionPe" required value="{%if obj%} {{obj.descripcionPEgre.descripcionPe}} {% endif %}">
        </div>
        <div class="form-group">
            <label>Ambitos del Perfil de Egreso</label>
            <input class="form-control" required= "true" placeholder="Introduce Ambitos de Perfil de Egreso " name="descripcionAmb" id="id_descripcionAmb" required value="{%if obj%} {{obj.descripcionPEgre.ambito.descripcionAmb}} {% endif %}">
        </div>
        <div class="form-group">
            <label>Competencias del Perfil de Egreso</label>
            <input class="form-control" required= "true" placeholder="Introduce Competencia de Perfil de Egreso " name="competencia" id="id_competencia" required value="{%if obj%} {{obj.descripcionPEgre.ambito.aCompetencia.competencia}} {% endif %}">
        </div>
        <div class="form-group">
            <label>Descripcion de Competencia del Perfil de Egreso</label>
            <input class="form-control" required= "true" placeholder="Introduce Competencia de Perfil de Egreso " name="descripcionCompetencia" id="id_descripcionCompetencia" required value="{%if obj%} {{obj.descripcionPEgre.ambito.aCompetencia.descripcionCompetencia}} {% endif %}">
        </div>
        <div class="form-group">
            <label>Complementario</label>
            <input class="form-control" required= "true" placeholder="Introduce aspectos complementario " name="complementaria" id="id_complementaria" required value="{%if obj%} {{obj.pComplementarias.complementaria}} {% endif %}">
        </div>
        <div class="form-group">
            <label>Grado de la persona que firma</label>
            <input class="form-control" required= "true" placeholder="Introduce grado de la persona que firma " name="grado" id="id_grado" required value="{%if obj%} {{obj.pFirmas.grado}} {% endif %}">
        </div>
        <div class="form-group">
            <label>Nombre Completo de la persona que firma</label>
            <input class="form-control" required= "true" placeholder="Introduce nombre de la persona que firma " name="nombre_Completo" id="id_nombre_Completo" required value="{%if obj%} {{obj.pFirmas.nombre_Completo}} {% endif %}">
        </div>
        <div class="form-group">
            <label>Matricula de la persona que firma</label>
            <input class="form-control" required= "true" placeholder="Introduce nombre de la persona que firma " name="matricula" id="id_matricula" required value="{%if obj%} {{obj.pFirmas.matricula}} {% endif %}">
        </div>
        <div class="form-group">
            <label>Ambitos del Perfil de Ingreso</label>
            <input class="form-control" required= "true" placeholder="Introduczca perfil de ingreso " name="ambitos_MCCF" id="id_ambitos_MCCF" required value="{%if obj%} {{obj.pPerfil_Ingreso.ambitos_MCCF}} {% endif %}">
        </div>
        <div class="form-group">
            <label>Descripcion de los Ambitos del Perfil de Ingreso</label>
            <input class="form-control" required= "true" placeholder="Introduczca perfil de ingreso " name="descripcionAmbito" id="id_descripcionAmbitoF" required value="{%if obj%} {{obj.pPerfil_Ingreso.aAmbitosIngreso.descripcionAmbito}} {% endif %}">
        </div>
        <div class="form-group">
            <label>Certificado de Estudios</label>
            <input class="form-control" required= "true" placeholder="Introduczca caracteristicas del certificado " name="certificacion_es" id="id_certificacion_es" required value="{%if obj%} {{obj.pCertificacion_Est.certificacion_es}} {% endif %}">
        </div>
        <div class="form-group">
            <label>Descripcion del Certificado de Estudios</label>
            <input class="form-control" required= "true" placeholder="Introduczca caracteristicas del certificado " name="descripcion_Cer" id="id_descripcion_Cer" required value="{%if obj%} {{obj.pCertificacion_Est.aCertificacion.descripcion_Cer}} {% endif %}">
        </div>
        <div class="form-group">
            <label>Procedimiento de Acreditacion</label>
            <input class="form-control" required= "true" placeholder="Introduczca procedimiento de acreditacion " name="acreditacion" id="id_acreditacion" required value="{%if obj%} {{obj.pProcedimiento_Acre.acreditacion}} {% endif %}">
        </div>
        <div class="form-group">
            <label>Procedimiento de Evaluacion</label>
            <input class="form-control" required= "true" placeholder="Introduczca procedimiento de acreditacion " name="procedimientos_E" id="id_procedimientos_E" required value="{%if obj%} {{obj.pProcedimiento_Eval.procedimientos_E}} {% endif %}">
        </div>
        <div class="form-group">
            <label>Elemento de Evaluacion</label>
            <input class="form-control" required= "true" placeholder="Introduczca el elemento de evaluacion " name="elemento" id="id_elemento" required value="{%if obj%} {{obj.pProcedimiento_Eval.aProcedimientos.elemento}} {% endif %}">
        </div>
        <div class="form-group">
            <label>Porcentaje de Evaluacion</label>
            <input class="form-control" required= "true" placeholder="Introduczca el porcentaje de evaluacion " name="porcentaje" id="id_porcentaje" required value="{%if obj%} {{obj.pProcedimiento_Eval.aProcedimientos.porcentaje}} {% endif %}">
        </div>
        <div class="form-group">
            <label>Recomendaciones Met</label>
            <input class="form-control" required= "true" placeholder="Introduczca Recomendaciones " name="recomendaciones" id="id_recomendaciones" required value="{%if obj%} {{obj.pRecomendaciones_Met.recomendaciones}} {% endif %}">
        </div>
        <div class="form-group">
            <label>Recomendaciones</label>
            <input class="form-control" required= "true" placeholder="Introduczca SubRecomendaciones " name="subRecomendaciones" id="id_subRecomendaciones" required value="{%if obj%} {{obj.pRecomendaciones_Met.aProcedimientos.subRecomendaciones}} {% endif %}">
        </div>
        <div class="form-group">
            <label>SubRecomendaciones</label>
            <input class="form-control" required= "true" placeholder="Introduczca SubRecomendaciones " name="subInciso" id="id_subInciso" required value="{%if obj%} {{obj.pRecomendaciones_Met.aProcedimientos.aSubRecomendaciones.subInciso}} {% endif %}">
        </div>
        
   
          
            <button type="submit" class="btn btn-success"><span class="fa fa-save"></span>Guardar</button>
            <script>

                window.addEventListener('load', function () {
                        var select = document.querySelector(".option");
                        var i = "";
                        var input = document.querySelector("#input");
                        select.addEventListener('change', function (e) {
                            e.preventDefault();
                            input.innerHTML = '';
                            for (i = 0; i < select.value; i++) {
                                createInputs();
                            }
                        });
                        function createInputs() {
                            var element = document.createElement('div');
                            element.innerHTML = `
                            <div class="form-group">
                                <label>Ejes</label>
                                    {% if not nombreejes%}
                                        <div class='alert alert-info'>No existen datoss</div>
                                    {%else%}
                                        <tr>
                                        <select mutiple class="form-control" name="nombreejes" id="id_nombreejes"> 
                                            {%for u in nombreejes%}
                                       
                                                <option requiered value={{u}}> {{u}}</option>
                                          
                                            {%endfor%}
                                        </select>
                                        <td></td>
                                        </tr>
                                    {%endif%}
                            </div> 
                            `;
                            input.appendChild(element);
                        }
                    });
            </script>


{% endblock content%}